<!doctype html>
<html lang="en" data-framework="intercoolerjs">
<head>
    <meta charset="utf-8">
    <title>Google Product Search File Manipulator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <section id="app" ic-target="this">
        #parse("/velocity/list.vm")
    </section>
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/js/vendor/intercooler-0.9.6.min.js"></script>
</body>
</html>
